body {
	background-color: fff;
	color: 000;
	font-family: Garamond, serif;
	text-align: center;
}


h1, h2, h3 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
}

.slogan 
{
	font-style: italic;
}

.caps {
	text-transform: uppercase;
}

hr {
	width: 240px;
}