body {
	background-color: fff;
	color: 000;
	font-family: Garamond, serif;
	text-align: center;
	font-size: 16px;
}

h1 {
	font-size: 2em;
	float: left;
	padding: 0 1em;
}

h2 {
	font-size: 1.5em;
}

h1, h2 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
}

p, ul {
	font-family: 'Noto Serif', serif;
}

nav {
	float: right;
	padding: 0 1em;
}

nav a {
	font-family: 'Archivo Narrow', sans-serif;
	padding: 1em;
	text-transform: uppercase;
}

img {
	width: 95%;
}

.column1 {
	float: left;
	width: 40%;
	margin: 0 auto;
	padding: 1em;
}

.listhead {
	font-style: italic;
}

.clear {
	clear: both;
}

.credit {
	font-size: 10px;
}

hr {
	width: 220px;
}

ul {
	display: inline-block;
	text-align: left;
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	color: red;
}