body {
	background-color: fff;
	color: 000;
	font-family: Helvetica, sans-serif;
	text-align: center;
}


h1, h2 {
	font-weight: 50;
}

.italics 
{
	font-style: italic;
}

.caps {
	text-transform: uppercase;
	font-weight: bold;
}

hr {
	width: 300px;
}