body {
	background-color: fff;
	color: 000;
	font-family: 'Arial', sans-serif;
	text-align: left;
	font-size: 16px;
}

header {
  background-image: url("../images/ct2.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 95%;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	font-weight: 700;
	float: left;
	display: inline;
	padding: 1em;
}

h1 a {
	color: black;
}

h2 {
	font-size: 2em;
	float: left;
	display: inline;
}

p, ul {
	font-family: 'Noto Serif', serif;
	font-size: 1em;
}

ul {
	text-align: left;
}

nav {
	clear: both;
	display: block;
	padding: 1em;
}

nav a {
	padding: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

img {
	width: 95%;
}


.credit {
	font-size: 10px;
}

hr {
	width: 220px;
}

ul {
	display: inline-block;
	text-align: left;
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	color: red;
}

nav a:hover {
	color: white;
	background-color: green;
}



@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 520px) {

}


