body {
	background-color: #660000;
	color: #fff;
	font-family: 'Arial', sans-serif;
	text-align: center;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
}

header {
  background-image: url("../images/ct2.jpg");
  background-color: rgba(70, 72, 82, 0.3);
  background-size: cover;
  height: 700px;
  margin: 0 auto;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 4.5em;
	font-weight: 700;
	display: block;
	text-align: center;
	padding-top: 3em;
}

h1 a {
	color: white;
}

h2 {
	font-size: 2em;
	display: block;
}

p, ul {
	font-family: 'Noto Serif', serif;
	font-size: 1em;
}

ul {
	text-align: left;
}

nav {
	clear: both;
	color: #fff;
	display: block;
	padding-top: 1em;
}

nav a {
	padding: 0 1.5em;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

footer {
	background-color: #303030;
	height: 200px;
	padding-top: 1em;
}

.credit {
	font-size: 10px;
}

hr {
	width: 220px;
}

ul {
	display: inline-block;
	text-align: left;
}

a {
	text-decoration: none;
}

a:hover {
	
}

nav a:hover {
	background-color: gray;
}



@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 520px) {

}


